{# Purpose of this template: Display a popup selector of contents for scribite integration #}
{% set useFinder = true %}
{% extends 'MUPostsModule::raw.html.twig' %}
{% block title __('Search and select content') %}
{% block content %}
    <div class="container">
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
            {% set activatedObjectTypes = getModVar('MUPostsModule', 'enabledFinderTypes', []) %}
            {% if 'content' in activatedObjectTypes %}
                <li{{ objectType == 'content' ? ' class="active"' : '' }}><a href="{{ path('mupostsmodule_external_finder', {objectType: 'content', editor: editorName}) }}" title="{{ __('Search and select content') }}">{{ __('Contents') }}</a></li>
            {% endif %}
            </ul>
        </div>
        {% form_theme finderForm with [
            '@MUPostsModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: {id: 'mUPostsModuleSelectorForm'}}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{{ __('Search and select content') }}</legend>
            {% if featureActivationHelper.isEnabled(constant('MU\\PostsModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'content') %}
                {{ form_row(finderForm.categories) }}
            {% endif %}
            {{ form_row(finderForm.pasteAs) }}
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Content') }}:</label>
                <div class="col-sm-9">
                    <div id="mupostsmoduleItemContainer">
                        <ul>
                            {% for content in items %}
                                <li>
                                    {% set itemId = content.getKey() %}
                                    <a href="#" data-itemid="{{ itemId }}">
                                        {{ content|mupostsmodule_formattedTitle }}
                                    </a>
                                    <input type="hidden" id="path{{ itemId }}" value="{{ path('mupostsmodule_content_display', {'slug': content.slug}) }}" />
                                    <input type="hidden" id="url{{ itemId }}" value="{{ url('mupostsmodule_content_display', {'slug': content.slug}) }}" />
                                    <input type="hidden" id="title{{ itemId }}" value="{{ content|mupostsmodule_formattedTitle|e('html_attr') }}" />
                                    <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% if content.startText is not empty %}{{ content.startText }}{% endif %}
                                    {% endset %}{{ description|striptags|e('html_attr') }}" />
                                </li>
                            {% else %}
                                <li>{{ __('No contents found.') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            {{ form_row(finderForm.q) }}
            <div>
                {{ pager({display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'mupostsmodule_external_finder'}) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    {#
    <div class="mupostsmodule-finderform">
        <fieldset>
            {{ render(controller('MUPostsModule:Content:edit')) }}
        </fieldset>
    </div>
    #}
{% endblock %}
